# Ignore the virtual environment
.vscode/
voice-ai/
__pycache__/
.env
venv/

# Ignore sensitive environment variables
.env
backend/.env

# Ignore OS specific files
.DS_Store
Thumbs.db

# Ignore Python cache
__pycache__/
*.pyc